.App-resume-button {
    background-color: #f7f7f7;
    align-self: center;
    position: relative;
    margin-top: 160px;
    border: 0px;
    width: auto;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    border-radius: 15px;
    color: rgb(51, 51, 51);
}

.App-resume-button:before {
    content: '[';
    left: -15px;
}

.App-resume-button:after {
    content: ']';
    right: -15px;
}

.App-resume-button:after, .App-resume-button:before {
    position: absolute;
    top: 0;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}

@media only screen and (max-width: 600px) {
    .App-resume-button {
        margin-top: 150px;
        font-size: 1em;
    }
}