.skills-container {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  flex-wrap: wrap;
  border-radius: 1em;
  margin-top: 20px;
  background: rgba(145, 145, 145, 0.2) none repeat scroll 0% 0%;
}

.skill-section {
  font-size: 32px;
}

.skill-thumb {
  height: 2em;

}

.skills-image {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: .5em;
  height: 2.5em;
  width: 2.5em;
  background-color: whitesmoke;
  border-radius: 0.5em;

  &:hover {
    transform: scale(1.05);
  }
}

  [data-skill="javascript"] .skills-image  {
    background-image: linear-gradient(to top, #f7dc1e, #f7df1e);
  }
  [data-skill="react"] .skills-image {
    background-image: linear-gradient(to top, rgb(10, 166, 183), rgb(18, 40, 49));
  }
  [data-skill="html5"] .skills-image {
    background: linear-gradient(to top, #ffe0ca, #f5efe4);
  }
  [data-skill="css"] .skills-image {
    background-image: linear-gradient(to top, #cadfff, #e4e9f5);
  }
  [data-skill="NodeJS"] .skill-thumb {
    background-image: linear-gradient(to top, #efefef, #f5f5f5);
  }
  [data-skill="photoshop"] .skills-image {
    background: #4fc7ec;

    .skill-thumb {
      border-radius: 0.3em;
      height: 2.25em
    }
  }
  [data-skill="java"] .skills-image {
    background-image: linear-gradient(to top, #efefef, #ffffff);
  }
  [data-skill="illustrator"] .skills-image {
    background: #fd7b02;

    .skill-thumb {
      border-radius: 0.3em;
      height: 2.25em;
    }
  }

@media only screen and (max-width: 768px) {
  .skill-wrapper {
    .skills-container {
      flex-direction: column;
    }
  }
}